.play {
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
    border-width: 37px 37px 37px 37px;
    border-color: red blue green yellow;
    border-width: 37px 0px 37px 74px;
    border-color: red blue green yellow;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-width: 15px 108px 15px 30px;
    border-color: transparent transparent transparent #202020;
}

.pause {
    width: 15;
    height: 15px;
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
    border-style: double;
    border-width: 0px 37px 0px 37px;
    border-width: 0px 0px 0px 15px;
    border-color: #202020;
}

.play:hover{
    cursor: pointer;
}

.pause:hover{
    cursor: pointer;
}