.isPlay {
    display: none;
}

.isntPlay {
    display: block;
}

.spinner {
    display: block;
}

.spinner::after {
    display: none;
}

.spinner:hover .isPlay {
    display: block;
}

.form-column{
    display: flex;
    flex-direction: column;
}
