<li [class.completed]="task?.done"
[class.editing]="editando">
  <div class="view">
    <!-- <input class="toggle" type="checkbox"> -->
    <app-timer *ngIf="!task?.done"
    [valuePaused]="task?.timeSpent ?? 0" 
    (onFinish)="getFinish($event)" 
    (onClick)="getOnClick($event)"
    (onPaused)="getPaused($event)"></app-timer>

<label (dblclick)="editar()"> {{ task?.name }} </label>
<span *ngIf="timeUsed > 0 && !isPaused">({{timeUsed | toTime}})</span>
  </div>
  <input class="edit" 
           type="text"
           [formControl]="txtInput"
           (blur)="terminarEdicion()"
           #inputFisico>
</li>